* {
  box-sizing: border-box;

}
body {
  background-color: white;
  margin: 0px;
}
h1 {
  margin-bottom: 15px;
}
.heading{
  margin: 25px 0px;
}
.main-body{
  align-self: center;
  height:1000px;
}
.navbar{
  background-color: #A9A9A9;
}
.navbar-brand a:hover,.navbar-brand a:focus{
  text-decoration: none;
}
.box{
  background-color: #A9A9A9;
  height:auto;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}
.box-content{
  clear: right;
  margin: 20px;
  padding: 0px;
}
.red{
  background-color: #FFA07A;
}
.yellow{
    background-color: #CD5C5C;
    color: white;
}
.green{
  background-color: #F0E68C;
}
.small-box{
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  float:right;
  height:auto;
  width:180px;
  border: 1px solid black;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
